h1 {
    color: brown;
}

/* {
    border: solid;
}*/
   .header{
       
       background-color: aqua;
       display: flexbox;
       justify-content:left;
   }
   .site-description{ 
       display: flex; 
    flex-direction: column; 
    justify-content: first baseline; 
}

   .game{
       display: flex;
       flex-wrap: wrap;
       justify-content: space-evenly;
   }

   .social{
       display: flex;
       justify-content: flex-end;
   }

   p,h2{
       text-align: center;
   }

   .body{
       background-color: #808080;
   }

   .top{
       justify-content: space-evenly;
       display: flex;
       color: aqua;
       margin: 25%;
   }